#owl,
#owl-l {
    display: none!important
}
@media screen and (max-width: 83em) {
    .intro-content {
        font-size: 60%
    }
}
@media screen and (max-width: 58em) {
    body {
        font-size: 90%
    }
}
@media screen and (max-width: 49.4375em) {
    .open-right .side-right {
        -webkit-transform: translateX(-175%);
        transform: translateX(-175%)
    }
    .open-right .side-left {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    .open-left .side-right {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    .open-left .side-left {
        -webkit-transform: translateX(175%);
        transform: translateX(175%)
    }
    .page {
        width: 100%
    }
    .page-right {
        left: 0
    }
    .intro-content {
        width: 100%
    }
/*    .open-right .side-right .intro-content {
        top: 100%;
        -webkit-transform: translateY(-150px) translateX(-12.5%) scale(.5);
        transform: translateY(-150px) translateX(-12.5%) scale(.25)
    }
    .open-left .side-left .intro-content {
        top: 100%;
        -webkit-transform: translateY(-150px) translateX(-87.5%) scale(.5);
        transform: translateY(-150px) translateX(-87.5%) scale(.25)
    }
*/    .open-right .side-right .intro-content {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    .open-left .side-left .intro-content {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    .open-left .intro-content h1,
    .open-right .intro-content h1 {
        opacity: 0
    }
    .back-left {
        left: 6.25%
    }
    .back-right {
        right: 6.25%
    }
}
@media screen and (max-width: 42.5em) {
    body {
        font-size: 80%
    }
    .intro-content {
        font-size: 50%;
        padding-top: 50%
    }
    .download,
    .gplus {
        bottom: 25%
    }
    .learn-more {
        top: -8%
    }
    .download {
        width: 75%;
        left: 18%!important
    }
    .gplus {
        width: 75%;
        left: 13%!important
    }
    .open-left .download,
    .open-right .gplus {
        display: none
    }
}
@media screen and (max-height: 41.125em) {
/*    .intro-content {
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%)
    }
*/
}
@media screen and (max-width: 39.375em) {
    .intro-content .profile {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}
@media screen and (max-width: 320px) {
    body {
        font-size: 70%
    }
	.page-left, .page-right{width:100% !important; z-index:100000}
	.open-left .page-left{-webkit-transform: translateX(0%); transform: translateX(0%);}
	.page-left .slide_element{width:100%;}
	.slide_main.has_children .slide_element{width:90%;}
	.home-left{opacity:1;}
	.slide_content p{font-size: 90%;}
	ul.slide_buttons{
		padding: 1% 0 0 2%;
		border-radius: 12px;
		top:80%;
		left:50% !important;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	ul.slide_buttons li{
		display:inline-block;
		margin:0 2% 0 0;
	}
	@-o-viewport {
		width: device-width;
		zoom:0.4;
	}
	@-ms-viewport {
		width: device-width;
		zoom:0.4;
	}
    .media-presnece img {
        width: 22em;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    html,
    p,
    span {
        text-shadow: none!important;
        font-family: sans-serif!important
    }
    header {
        height: 13em
    }
    header img {
        max-width: 45em!important;
        width: 35em;
        margin-left: 0!important
    }
/*    .title-text {
        left: 15%!important;
        top: 20%!important;
        width: 18em!important;
        font-size: 38px!important
    }
*/    .intro-content p {
        font-size: 28px!important;
        font-family: proximaLight
    }
/*    .intro-content .left-mck {
        margin-left: 30%!important
    }
    .download,
    .gplus {
        bottom: 20%!important
    }
*/    .fixTitle-r {
        top: 18%!important;
/*        left: 15%!important;
*/        font-size: 40px!important;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
    }
    .fixTitle {
        top: 18%!important;
/*        left: 23%;
*/        font-size: 36px!important;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
    }
    .back-right {
        padding-right: 12%!important
    }
    .back {
        padding-top: 8%!important;
        font-size: 70px!important
    }
    .followup {
        height: 115%!important
    }
	.page-left, .page-right{width:100% !important; z-index:100000}
	.open-left .page-left{-webkit-transform: translateX(0%); transform: translateX(0%);}
	.page-left .slide_element{width:100%;}
	.slide_main.has_children .slide_element{width:90%;}
	.home-left{opacity:1;}
	.slide_content p{font-size: 90%;}
	ul.slide_buttons{
		padding: 1% 0 0 2%;
		border-radius: 12px;
		top:80%;
		left:50% !important;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	ul.slide_buttons li{
		display:inline-block;
		margin:0 2% 0 0;
	}
	@-o-viewport {
		width: device-width;
		zoom:0.4;
	}
	@-ms-viewport {
		width: device-width;
		zoom:0.4;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #owl,
    #owl-l {
        display: block!important;
        padding-top: 60%
    }
    .back-left {
        left: 0;
        width: 100%;
        padding-top: 5%;
        font-size: 4em;
        right: 0
    }
    .open-left .intro-r p,
    .open-left .left-mck,
    .open-left .leftnav,
    .open-right .intro-r p,
    .open-right .right-mck,
    .open-right .rightnav,
    .sholder {
        display: none
    }
    .fixTitle-r {
        top: 12%;
/*        left: 23%;
*/        font-size: 30px;
		-webkit-transform: translateX(-65%);
		transform: translateX(-65%);
    }
    .fixTitle-r i {
        font-size: 46px;
        margin-right: -32px
    }
    .fixTitle {
        top: 15%;
/*        left: 27%;
*/        font-size: 30px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
    .fixTitle i {
        font-size: 42px;
        margin-right: -32px
    }
    header {
        height: 10em
    }
    header img {
        padding-top: 2%;
        max-width: 45em!important;
        width: 25em;
        margin-left: 0!important
    }
    .open-left .intro,
    .open-right .intro {
        display: none
    }
    .title-text {
/*        left: 18%;
*/        top: 20%;
        width: 16em;
        font-size: 38px
    }
    .intro-content p {
        padding: 16% 0 19%;
        margin-left: 14%;
        width: 74%
    }
    .download,
    .gplus {
        width: 58%;
/*        margin-left: -15%;
*/        bottom: 0%
    }
    .gplus img {
        padding: 4% 7% 0 0!important
    }
    .loader-dv img {
        margin-top: 41%;
        margin-left: 40%
    }
    .loader-dv h3 {
        margin-left: 29%
    }
    .intro-content {
        top: 48%
    }
    .intro-content p {
        margin-left: 0%!important;
        font-size: 22px!important
    }
    .left-mck{
        width:100% !important;
        height:80% !important;
        margin-top:37% !important;
    }
    .intro-l p {
        margin-top:4%;
    }
    .right-mck {
        width:90% !important;
        height:85% !important;
        margin-top:37% !important;
    }
    .side {
        width:50%;
    }
    .learn-more {
        left: 38%
    }
    .res-btm {
        text-align: center
    }
    .followup {
        height: 100%;
        min-height: 135em
    }
    .contactus {
        height: 100%;
        min-height: 75em;
        zoom: 1.5
    }
    #owl,
    #owl-l {
        padding-top: 40%!important
    }
    .fa-home {
        font-size: 4em;
        margin-left: 23px
    }
    .res-btm {
        padding-top: 29em;
        margin-left: -10%
    }
	.page-left, .page-right{width:100% !important; z-index:100000}
	.open-left .page-left{-webkit-transform: translateX(0%); transform: translateX(0%);}
	.page-left .slide_element{width:100%;}
	.slide_main.has_children .slide_element{width:90%;}
	.home-left{opacity:1;}
	ul.slide_buttons{
		padding: 1% 0 0 2%;
		border-radius: 12px;
		top:80%;
		left:50% !important;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	ul.slide_buttons li{
		display:inline-block;
		margin:0 2% 0 0;
	}
	@-o-viewport {
		width: device-width;
		zoom:0.4;
	}
	@-ms-viewport {
		width: device-width;
		zoom:0.4;
	}
    .media-presnece img {
        width: 22em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        height: 5em
    }
    header img {
        padding-top: 0%;
        max-width: 45em!important;
        width: 15em;
        margin-left: 0!important
    }
    .container.zero-pad {
        display: none
    }
    .landscape-msg {
        display: block;
        padding-top: 30%;
        padding-left: 32%;
        color: #fff
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    .intro-l i {
        left: -12%
    }
    .side {
        margin-top: 12%
    }
    .open-right .gplus {
        margin-left: 5%
    }
}
@media only screen and (min-width: 1550px) and (max-width: 1700px) {
    .download,
    .gplus {
        height: 4.5em!important
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1900px) {
    .modal-dialog {
        zoom: .8
    }
    #live-events {
        zoom: .6
    }
    .intro {
        zoom: .7
    }
    header {
        height: 60px
    }
    .fa-home {
        top: 3%;
        font-size: 23px
    }
    header img {
        max-width: 9em
    }
    .side {
        margin-top: 8%!important
    }
    .download,
    .gplus {
        width: 30%;
        bottom: 5%;
/*        height: 3.9em
*/    }
/*    .open-right .gplus {
        left: 63%!important
    }
    .download {
        margin-left: -3%
    }
*/    .followup {
        zoom: .8
    }
    .intro-r .rightnav {
        width: 2.2em;
        left: 15%;
        top: 53%
    }
    .open-left .intro-content .left-mck {
        background-size: 120%!important;
        margin-top: 20%;
            height:80%;
        margin-left: -10%
    }
    .sholder {
        width: 65%
    }
    .page-left {
        : 1.2
    }
    .title-text {
        font-size: 35px;
        top: 14%
    }
    .loader-dv img {
        margin-left: 43%
    }
    .loader-dv h3 {
        margin-left: 36%
    }
    .sholder .abs-pos {
        zoom: .7
    }
    .fixTitle,
    .fixTitle-r {
        top: 14%;
/*        left: 20%;
*/        font-size: 28px
    }
    .intro-l i {
        left: -32%
    }
    .side-left:hover .left-ico {
        left: -18%
    }
    .intro-r i {
        right: -32%
    }
    .side-left:hover .right-ico {
        right: -10%
    }
/*    .open-left .download {
        left: 25%!important;
        bottom: 30%
*/    }
    .followup {
        height: 126%;
        background: url(../img/parallax/live-streaming-parallax.png) no-repeat;
        background-size: 135%
    }
    .contactus {
        height: 85%;
        background: url(../img/parallax/live-streaming-parallax-1.png) no-repeat;
        background-size: 122%;
        zoom: .9
    }
    .rightNHlpr {
        font-size: 14px
    }
    .intro-content {
        top: 45%
    }
/*    .intro-content .right-mck {
        margin-top:5%;
    }
*/    .open-left .intro-l {
        top: 25%
    }
    .open-right .intro-r {
        top: 30%
    }
	.slide_content h3 {
		font-size: 80%;
	}
	.slide_content p {
		font-size: 75%;
	}
/*    .title-text {
        left: 35%;
        padding-right: 2%
    }
    .intro-content .right-mck {
        background-size: 75%!important
    }
/*    .intro-content .left-mck {
        background-size: 80%;
		margin-left:0%;
    }
*/    .open-right .right-mck {
/*        background-size: 50%!important;
        margin-top: 25%!important;
        margin-left: 30%!important
*/    }
    .open-left .intro-l .leftnav {
        left: 65%;
        top: 55%;
        width: 2.2em
    }
}
@media(min-width: 320px) and (max-width: 768px) {
	.slide_content h3{font-size: 155%;}	
	.slide_content p{font-size: 150%;}
	.blg-btn {padding: 2% 5%; margin: 4% 4% 0 0; font-size: 200%;}
	@-o-viewport {
		width: device-width;
		zoom:0.4;
	}
	@-ms-viewport {
		width: device-width;
		zoom:0.4;
	}
    .media-presnece img {
        width: 22em;
    }
}
@media(min-width: 768px) and (max-width: 1024px) {
	.slide_content h3{font-size: 155%;}	
	.slide_content p{font-size: 150%;}	
	.blg-btn {padding: 2% 5%; margin: 4% 4% 0 0; font-size: 200%;}
	@-o-viewport {
		width: device-width;
		zoom:0.6;
	}
	@-ms-viewport {
		width: device-width;
		zoom:0.6;
	}
}
@media only screen and (min-width: 1224px) and (max-width: 1300px) {
    .title-text {
        width: auto!important;
        min-width: 21em;
        font-size: 25px
    }
    .intro-content p {
        padding: 1% 0 3%!important;
        margin-left: 9%!important;
        width: 85%!important;
        font-size: 18px!important;
        font-family: proximaRegular;
        line-height: 34px
    }
    .download,
    .gplus {
        width: 30%!important;
        margin-left: 0!important;
/*        bottom: 32%!important
*/    }
    .learn-more {
        left: 40%
    }
    .intro-content i {
        font-size: 45px;
        margin-right: -51px
    }
    .side-right:hover .right-ico {
        right: 18%
    }
/*    .left-mck {
        margin-left: 4%!important
    }
*/    .open-left .intro-content .left-mck {
        margin-left: 0%!important;
        background-size: 31em 31em!important;
        margin-top: 4%;
        padding: 30%
    }
    .open-left .side {
        margin-left: 4%
    }
    .open-right .side {
        margin-right: 4%
    }
/*    .gplus {
        height: 3em!important;
        padding-top: .2%!important
*/    }
    .gplus-hlpr {
        width: 14%!important;
        top: 18%!important
    }
    .learn-more {
        top: -8%!important
    }
    .header {
        font-size: 44px!important;
        margin-bottom: 2%
    }
    .sub-header {
        font-size: 36px!important;
        margin: 0
    }
    .cnct-f {
        font-size: 26px!important;
        border-top: none!important;
        padding-top: 28px!important
    }
    .cnct-s {
        font-size: 22px!important
    }
    .followup {
        background: url(../img/parallax/live-streaming-parallax.png) no-repeat;
        background-size: 150%;
        height: 130%!important;
        padding-top: 5%!important;
        zoom: .85
    }
    .followup .cnct-s {
        font-size: 38px!important
    }
    .followup .cnct-f {
        font-size: 35px!important
    }
    .padding-top-f {
        padding-top: 3em!important
    }
    .contactus {
        background: url(../img/parallax/live-streaming-parallax-1.png) 100% 0 no-repeat;
        background-size: 130%
    }
    .btn-primary {
        padding: 8px 0!important;
        font-size: 18px!important
    }
    .loader-dv img {
        margin-left: 45%
    }
    .loader-dv h3 {
        margin-left: 35%
    }
    .intro-l i {
        left: -20%
    }
    .contactus {
        height: 110%!important
    }
    .open-left .intro,
    .open-left~.followup,
    .open-left~.footer,
    .open-right .intro,
    .open-right~.followup,
    .open-right~.footer {
        display: block!important
    }
    .open-right .intro-content .right-mck {
        background-size: 33em 33em!important;
        margin-top: 8.8%
    }
    .intro .leftnav,
    .intro-r .rightnav {
        width: 3em
    }
    .fixTitle {
/*        left: 33%;
*/        font-size: 29px
    }
    .fixTitle i {
        font-size: 42px;
        margin-right: -33px
    }
    .fixTitle-r {
/*        left: 29%;
*/        font-size: 28px
    }
    .fixTitle-r i {
        font-size: 42px;
        margin-right: -33px
    }
    .sholder img {
        width: 3.8em
    }
    .sholder .sholder-head {
        font-size: 85%
    }
    .open-left .gplus,
    .open-left .intro-r {
        margin-left: 36%!important
    }
    .open-right .gplus {
        margin-left: 0!important
    }
    header {
        height: 8%;
        padding-top: .5%
    }
    header img {
        max-width: 15%
    }
    .open-left~.followup,
    .open-left~.footer,
    .open-right~.followup,
    .open-right~.footer {
        opacity: 0;
        transition: all .5s ease
    }
    .vid-rg {
        padding: 8px!important;
        margin-top: 1%;
        font-size: 15px!important
    }
    .contactus h3 {
        padding: 8% 0 2%;
        font-size: 20px
    }
    .page-inner p {
        font-size: 80%
    }
    .sholder .abs-pos {
        padding-top: 22%
    }
}
@media only screen and (min-width: 1910px) {
/*    .title-text {
        left: 31%
    }
*/    .intro-content p {
        padding: 0 0 1%
    }
    .side {
        margin-top: 8%!important
    }
    .gplus {
        bottom: 25%;
        margin-left: 0;
/*        left: 39%;
*/        height: 3.5em
    }
/*    .open-right .gplus {
        left: 60%!important;
        bottom: 38%
    }
*/    .download {
        bottom: 5%;
        margin-left: 0
    }
/*    .intro-content .left-mck {
		margin-left:3%;
    }
    .open-left .intro-content .left-mck {
		margin-left:-1%;
    }
/*    .open-left .download {
        margin-left: 21%
    }
*/    .followup {
        height: 115%
    }
/*    .page,
    .side {
        margin-top: 13%
    }
*/    .intro-l i {
        left: -20%
    }
    .side-left:hover .left-ico {
        left: 4%
    }
    .intro-r i {
        right: -20%
    }
    .side-right:hover .right-ico {
        right: 10%
    }
	.slide_content h3 {
		font-size: 105%;
	}
	.slide_content p {
		font-size: 100%;
	}
/*    .open-left .side-left .intro-content {
        margin-left: 26%
    }
    .open-right .side-right .intro-content {
        margin-left: -10%
    }
*/
/*    .open-right .side-right .intro-content {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    .open-left .side-left .intro-content {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
*/
}
@media only screen and (max-width: 1200px) {
    .modal-dialog {
        zoom: .8
    }
    #live-events {
        zoom: .6
    }
/*    .left-mck {
        margin-left: 30%
    }
*/    .header {
        font-size: 50px
    }
    .sub-header {
        font-size: 38px
    }
    .cnct-s {
        font-size: 32px
    }
    .followup {
        height: 145%;
        padding-top: 8%
    }
/*    .fixTitle-r {
        top: 18%;
        font-size: 42px;
        left: 13%
    }
    .fixTitle {
        top: 18%;
        left: 22%;
        font-size: 42px
    }
*/    #owl,
    #owl-l {
        padding-top: 76%;
        height: 66em!important
    }
    .title-text {
 /*       left: 5%;
*/        top: 20%;
        width: 23em;
        padding: 0 14% 3% 0
    }
    .open-left .intro,
    .open-left~.contactus,
    .open-left~.followup,
    .open-left~.footer,
    .open-right .intro,
    .open-right~.contactus,
    .open-right~.followup,
    .open-right~.footer {
        display: none
    }
    .page-inner p {
        font-size: 36px
    }
    .owl-item h3 {
        font-size: 40px
    }
    .download,
    .gplus {
        width: 75%;
/*        margin-left: -21%;
        bottom: 18%
*/    }
    .gplus {
        height: 6em
    }
    .learn-more {
        top: -5%
    }
    .gplus-hlpr {
        width: 14%!important;
        top: 18%!important
    }
    .intro-content p {
        width: 100%;
        font-size: 30px;
        padding:0 10% 0 10% !important;
        box-sizing:border-box;
    }
    .cnct-f {
        border-top: 1px solid rgba(214, 36, 27, .62);
        color: #fff;
        padding-top: 55px;
        display: inline-block;
        font-size: 39px
    }
}