#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0, -4px);
    -ms-transform: rotate(3deg) translate(0, -4px);
    transform: rotate(3deg) translate(0, -4px);
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}
#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}
.nprogress-custom-parent #nprogress .bar, .nprogress-custom-parent #nprogress .spinner {
    position: absolute;
}
@-webkit-keyframes nprogress-spinner {
    0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}@keyframes nprogress-spinner {
    0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}@-moz-document url-prefix() {
    .intro-content {
/*    top: 25%!important;
*/    -moz-transform: scale(.8)!important;
    margin-left: -68%!important;
    margin-top: -22%!important;
}
.download, .gplus {
    bottom: 21%!important;
    height: 3em!important;
}
.open-right .intro-content {
    top: 8%!important;
    transform: scale(.8)!important;
    margin-left: -7%!important;
}/*
.open-left .intro-content {
    top: 22%!important;
    transform: scale(.8)!important;
    margin-left: -119%!important;
    margin-top: -38%!important;
}*/
}/*.open-left .intro-content.intro-r, .open-right .intro-content.intro-l {
    opacity: 0;
    transition: all .5s ease;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}
.instalogo{position:absolute; left:50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.landscape-msg {
    display: none;
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-buttons div, .owl-controls .owl-page {
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
    opacity: .5;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) center center no-repeat;
}
.owl-item h3 {
    color: #d12017;
}
#owl-live .owl-child {
    padding: 0 4% 6%}
.red {
    color: #F52627!important;
}
.red-bg {
    background-color: #F52627!important;
}
.white {
    color: #fff;
}
@font-face {
    font-family: proximaExtraBold;
    src: url(../fonts/proxima-family/ProximaNova-Black.otf);
}
@font-face {
    font-family: proximaBold;
    src: url(../fonts/proxima-family/ProximaNova-Bold.otf);
}
@font-face {
    font-family: proximaSemiBold;
    src: url(../fonts/proxima-family/ProximaNova-Semibold.otf);
}
@font-face {
    font-family: proximaLight;
    src: url(../fonts/proxima-family/ProximaNova-Light.otf);
}
@font-face {
    font-family: proximaRegular;
    src: url(../fonts/proxima-family/ProximaNova-Regular.otf);
}
.light {
    font-family: proximaLight;
}
.title-text {
    position: absolute;
    left: 50%;
    top: 15%;
	-webkit-transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
    width: auto;
    min-width: 18em;
    padding-right: 3%;
    display: inline-block;
    text-align: right;
    font-size: 40px;
    font-family: proximaLight;
    font-weight: 700;
    color: rgba(243, 243, 243, 1);
    letter-spacing: 6px;
    border-bottom: 2.5px solid rgba(255, 255, 255, .67);
    text-transform: uppercase;
}
.title-text span {
    float: right;
}
.title-text .rw-words {
    font-family: proximaRegular;
    padding-bottom: 1px;
    float: right;
    margin-right: 14px;
}
.title-text .fat {
    padding-left: 12px;
    color: #e02017;
}
b {
    font-family: proximaBold;
    color: rgba(187, 47, 47, 1);
}
a, h1, h2, h3, h4, label, p, span {
    text-shadow: 0 0 1px #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hdr {
    font-weight: 300;
    font-size: 2.4em;
    font-family: proximaBold;
}
.sub-header {
    line-height: 1.5em;
    color: #f8f8f8;
    font-weight: 300;
    font-size: 26px;
    font-family: proximaLight;
    margin: 20px;
}
.sub-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215px;
}
.cnct {
    font-size: 22px;
    font-weight: 300;
    color: #d5d5d5;
    font-family: proximaLight;
}
.cnct-f {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
    color: #e6e6e6;
    font-family: proximaLight;
}
.cnct-s {
    font-size: 22px;
    font-weight: 300;
    color: #bebebe;
    line-height: 1.5em;
    padding: 0 20%;
    font-family: proximaLight;
}
.header {
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    border-bottom: 1.5px solid rgba(193, 55, 49, .84);
    display: inline-block;
    padding-bottom: 5px;
    text-transform: none;
    line-height: 60px;
    font-family: proximaRegular;
    margin: 0;
}
.content {
    padding: 0 12%;
    font-size: 22px;
    font-weight: 300;
    color: #d5d5d5;
    font-family: proximaLight;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.container>header {
    padding: 2.875em 1.875em 1.875em;
    position: fixed;
    z-index: 1000;
    width: 60%;
    left: 20%}
.container>header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0;
    float: left;
    font-weight: 400;
}
.container>header span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding: 0 0 .6em .1em;
}
.container>header nav {
    float: right;
}
.container>header nav a {
    display: block;
    float: left;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    color: transparent;
    margin: 0 .1em;
    border: 4px solid #fff;
    text-indent: -8000px;
}
.container>header nav a:after {
    content: attr(data-info);
    color: #fff;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    opacity: 0;
    pointer-events: none;
}
.container>header nav a:hover:after {
    opacity: 1;
}
.container>header nav a:hover {
    background: #47a3da;
}
.container>header nav a:hover:before {
    color: #fff;
}
.container, body, html {
    position: relative;
    width: 100%;
    height: 100%}
body {
    overflow-y: scroll;
    background: url(../img/live-streaming-bg-dots.png) 50% 0 repeat-y #141414;
}
.splitlayout {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .43);
    box-shadow: inset 0 -50px 49px -21px #000;
    -webkit-box-shadow: inset 0 -50px 49px -21px #000;
    -moz-box-shadow: inset 0 -50px 49px -21px #000;
    -o-box-shadow: inset 0 -50px 49px -21px #000;
}
.side {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 45%;
    height: 80%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    transition-delay: .1s!important;
}
.open-left .side, .open-right .side {
    cursor: default;
}

.open-left .left-mck, .open-right .right-mck{cursor:default !important;}
/*
.open-left .left-ico, .open-right .right-ico {
    display: none;
}*/
.open-left .title-text, .open-right .title-text {
    -webkit-transition: all 100ms cubic-bezier(.25, .1, .25, 1);
    -moz-transition: all 100ms cubic-bezier(.25, .1, .25, 1);
    -o-transition: all 100ms cubic-bezier(.25, .1, .25, 1);
    transition: all 100ms cubic-bezier(.25, .1, .25, 1);
    -webkit-transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    -moz-transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    -o-transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    transition-timing-function: cubic-bezier(.25, .1, .25, 1);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 499;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.side-left .overlay {
    background: rgba(0, 0, 0, .7);
}
.side-right .overlay {
    background: rgba(0, 0, 0, .3);
}
.side-left {
    left: 0;
    color: #fff;
    margin-top: 8%}
.side-left:hover .left-mck {
/*    padding: 21% 23% 23% 41%;
    margin-top: 7%;
*/
    background-position-y:20%;
    transition: all .25s ease;
}
.open-left .side-left:hover, .open-right .side-right:hover {
    background-color: transparent;
}
.side-right {
    right: 0;
    color: #fff;
    margin-top: 8%}
.side-right:hover .right-mck {
    background-position-y:15%;
    transition: all .25s ease;
}
.intro-content {
    height: 40em;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.intro-content img {
    position: absolute;
    z-index: 10;
    -webkit-transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    -moz-transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    -o-transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    -webkit-transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    -moz-transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    -o-transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
}
.open-left .mob-fill {
    display: none;
}
.intro-content .left-mck {
  box-shadow: inset -5px -26px 32px -35px #000;
  -webkit-box-shadow: inset 0 -23px 27px -35px #343434;
  -moz-box-shadow: inset -5px -26px 32px -35px #000;
  -o-box-shadow: inset -5px -26px 32px -35px #000;
  background: url(../img/Mobile_mockup/live-streaming-mobile-1.png) no-repeat;
  border-radius: 6px;
  background-size: 100% !important;
  transition: all .5s ease;
  height: 55%;
  width: 55%;
  display: inline-flex;
  margin-top: 20%;
  cursor: pointer;
}
.intro-content .right-mck {
    background: url(../img/Desktop_mockup/live-streaming-desktop-1.png) no-repeat;
    background-size: 100% !important;
    height: 55%;
    width: 55%;
    margin-top: 20%;
    transition: all .5s ease;
    display: inline-flex;
    cursor: pointer;
}
.open-left .intro-content .left-mck {
/*    background-size: 28em 28em!important;
*/    background-repeat: no-repeat;
/*    margin-left: 10%;
 */   margin-top: 10%;
/*    padding: 24% 23% 23% 41%*/}
.open-right .intro-content .right-mck {
/*    background-size: 28em 28em!important;
*/    background-repeat: no-repeat;
      margin-top:25%;
/*    margin-left: 10%;
      margin-top: 10%;
/*    padding: 24% 23% 23% 41%*/}
.intro-content p {
    padding: 1.5% 0 1%!important;
    font-family: proximaLight;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    transition: all .5s ease;
    color: #f5f5f5;
}
.intro-l i {
    position: absolute;
    left: -6%;
    top: 37%;
    transition: all .3s ease;
}
.intro-l i img {
    width: 48px;
}
.side-left:hover .left-ico {
    left: 2%;
    transition: all .3s ease;
}
.side-right:hover .right-ico {
    right: 7%;
    transition: all .3s ease;
}
.intro-r i {
    position: absolute;
    right: -6%;
    top: 37%;
    transition: all .3s ease;
}
.intro-r i img {
    width: 48px;
}
.open-left .intro-content p, .open-right .intro-content p {
    opacity: 0;
    transition: all .5s ease;
}
.open-left .fixTitle {
    transition: all .5s ease;
    opacity: 1;
}
.fixTitle {
    position: fixed;
    top: 14%;
    left: 50%;
	min-width:60%;
	max-width:90%;
	text-align:center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
    display: inline-block;
    color: rgba(255, 255, 255, .89);
    opacity: 0;
    font-weight: 300;
    font-size: 36px;
    padding-bottom: 8px;
    border-bottom: 1.5px solid rgba(193, 55, 49, .52);
    font-family: proximaRegular;
    transition: all .5s ease;
}
.fixTitle i {
    position: relative;
    font-size: 60px;
    opacity: .05;
    z-index: 0;
    margin-right: -48px;
}
.open-right .fixTitle-r {
    transition: all .5s ease;
    opacity: 1;
}
.fixTitle-r {
    position: relative;
    top: 14%;
    left: 50%;
	max-width:90%;
	text-align:center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    display: inline-block;
    color: rgba(255, 255, 255, .89);
    opacity: 0;
    font-weight: 300;
    font-size: 36px;
    padding-bottom: 8px;
    border-bottom: 1.5px solid rgba(193, 55, 49, .52);
    font-family: proximaRegular;
    transition: all .5s ease;
}
.fixTitle-r i {
    position: relative;
    font-size: 60px;
    opacity: .05;
    z-index: 0;
    margin-right: -48px;
}
.profile {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #47a3da;
}
.profile img {
    max-width: 100%;
    border-radius: 50%;
    opacity: .6;
}
.intro-content h1>span {
    display: block;
    white-space: nowrap;
}
.intro-content h1>span:first-child {
    font-weight: 300;
    font-size: 2em;
}
.intro-content h1>span:nth-child(2) {
    position: relative;
    margin-top: .5em;
    padding: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8em;
}
.intro-content h1>span:nth-child(2):before {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #fff;
    content: ''}
.side-right .intro-content h1>span:nth-child(2):before {
    background: #47a3da;
}
.pagActive {
    background-color: #b50e0e;
}
#sudo-bind {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.navFix {
    top: 0!important;
}
/*.intro-l*/ .page-left .leftnav {
    list-style-type: none;
    position: absolute;
    background-color: rgba(63, 63, 63, .47);
    padding: 2% 1% 0;
    border-radius: 12px;
    top: 15%;
    left: -100%;
    -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.open-left /*.intro-l*/ .page-left .leftnav {
    left: 5%;
    -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
/*.intro-l*/ .page-left .leftnav a {
    height: 16px;
    width: 16px;
    border: 2px solid rgba(219, 219, 219, .7);
    transition: all .5s ease;
    margin-bottom: 18px;
    border-radius: 15px;
    display: block;
}
/*.intro-l*/ .page-left .leftnav a:hover {
    border: 5px solid #cb2626;
    transition: all .5s ease;
}
/*.intro-r*/ .page-right .rightnav {
    list-style-type: none;
    position: absolute;
    background-color: rgba(63, 63, 63, .47);
    padding: 2% 2.5% 0 1%;
    border-radius: 12px;
    width: 1em;
    top: 7%;
    left: 5%;
    right: 43%;
    opacity: 0;
    transition: all .5s ease;
}
.open-right /*.intro-r*/ .page-right .rightnav {
    opacity: 1;
    transition: all .5s ease;
}
/*.open-left .gplus, .open-left .intro-r {
    margin-left: 20%}
.open-right .download, .open-right .intro-l {
    margin-right: 15%}
*//*.intro-r*/ .page-right .rightnav a {
    height: 16px;
    width: 16px;
    border: 2px solid rgba(219, 219, 219, .7);
    transition: all .5s ease;
    margin-bottom: 18px;
    border-radius: 15px;
    display: block;
}
/*.intro-r*/ .page-right .rightnav a:hover {
    transition: all .5s ease;
    border: 5px solid #cb2626;
}
.back {
    position: fixed;
    top: 2.6em;
    z-index: 500;
    display: block;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #47a3da;
    text-align: center;
    font-size: 22px;
    line-height: 44px;
    opacity: 0;
    pointer-events: none;
}
.mobile-layout .back {
    position: absolute;
}
.back-left, .back-right {
    -webkit-transform: translateX(50%);
    transform: translateX(0);
    color: #fff;
    width: 100%;
    left: 0;
    height: 9%;
    top: 0;
    z-index: 99999999999999999;
}
.open-left .intro-content .left-mck
{
	margin-top:25%;
}
/*.open-left .home-left {
    opacity: 1;
    transition: all .5s ease;
}*/
.home-left {
    transition: all .5s ease;
    opacity: 0;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    font-size: 35px;
    color: #f5f5f5;
}
.open-right .home-right {
    opacity: 1;
    transition: all .5s ease;
}
.home-right {
    transition: all .5s ease;
    opacity: 0;
    position: fixed;
    top: 2.5%;
    left: 1%;
    font-size: 35px;
    color: #f5f5f5;
}/*
.open-left .back-right, .open-right .back-left {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    pointer-events: auto;
}
.back:hover {
    color: #ddd;
    text-decoration: none;
}*/
.page {
    position: relative;
	opacity:0.98;
    top: 0;
    overflow: visible;
    min-height: 100%;
    width: 100%;
    height: auto;
    font-size: 1.4em;
    -webkit-backface-visibility: hidden;
    transition-delay: .1s!important;
}
.page-right {
    background: url(../img/live-streaming-bg-dots.png) 50% 0 repeat-y #141414;
    color: #fff;
    text-align: left;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
 	z-index:1000000;
	width: 100%;
	height:100%;}
.splitlayout.open-right {
    background: 0 0;
}
.page-left {
    background: url(../img/live-streaming-bg-dots.png) 50% 0 repeat-y #141414;
    color: #fff;
    text-align: right;
    -webkit-transform: translateX(170%);
    transform: translateX(170%);
	z-index:1000000;
    width: 60%;
	height:100%;}
.splitlayout.open-left {
    background: 0 0;
}
.page-inner {
    padding: 2em;
    cursor: default;
}
.page-inner section {
    padding-bottom: 1em;
}
.page-inner p {
    font-weight: 300;
    font-size: 95%;
    font-family: proximaLight;
    width: 65%;
    margin-left: 18%}
.page, .side {
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
}
.overlay {
    -webkit-transition: opacity .6s, visibility .1s .6s;
    transition: opacity .6s, visibility .1s .6s;
}
.intro-content {
    -webkit-transition: -webkit-transform .6s, top .6s;
    transition: transform .6s, top .6s;
}
.back, .intro-content h1 {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.reset-layout .page, .splitlayout.close-left .page-right, .splitlayout.close-right .page-left, .splitlayout.open-left .page-right, .splitlayout.open-right .page-left {
    position: absolute;
    overflow: hidden;
    height: 100%;
}
.splitlayout.open-left .page-left{
/*    overflow: auto;
*/    height: auto;
    width: 60%;
}
.splitlayout.open-right .page-right {
/*    overflow: auto;
*/    height: 100%;
    width: 60%;
}
.page-right .sholder .art {
    left: 55%;
    padding-top: 16%}
/*.open-left .side-right .overlay, .open-right .side-left .overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
}*/
.reset-layout .side, .reset-layout .title-text {
    position: absolute!important;
}
.open-right .side-left {
/*    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
*/}
.open-right .side-right {
    z-index: 200;
/*    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
*/}
.close-right .side-right {
    z-index: 200;
}
.open-right .side-right .intro-content {
	cursor: default;
/*    -webkit-transform: translateY(-60%) translateX(-50%) scale(1.2);
    transform: translateY(-60%) translateX(-50%) scale(1.2);
/*    margin-left: 6%
*/}
.open-right .page-right {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.open-left .side-right {
 /*   -webkit-transform: translateX(60%);
    transform: translateX(60%);
*/}
.open-left .side-left {
    z-index: 200;
/*    -webkit-transform: translateX(140%);
    transform: translateX(140%);
*/}
.close-left .side-left {
    z-index: 200;
}
.open-left .side-left .intro-content {
    cursor: default;
/*    -webkit-transform: translateY(-60%) translateX(-40%) scale(1.2);
    transform: translateY(-60%) translateX(-40%) scale(1.2);
    /*margin-left: 2%*/}
.open-left .codropsheader {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility .1s .3s;
    transition: opacity .3s, visibility .1s .3s;
}
.open-left .page-left {
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
}
.padding {
    padding: 1em!important;
}
.padding-h {
    padding: .5em!important;
}
.padding-x {
    padding: 1.5em!important;
}
.padding-2 {
    padding: 2%}
.padding-3 {
    padding: 1.3em!important;
}
.padding-4 {
    padding: 4%!important;
}
.padding-top {
    padding-top: .5em;
}
.padding-top-e {
    padding-top: .8em;
}
.padding-top-f {
    padding-top: 1em!important;
}
.padding-top-2 {
    padding-top: 2%!important;
}
.padding-top-3 {
    padding-top: 3.5%!important;
}
.padding-bottom-zero {
    padding-bottom: 0!important;
}
.padding-bottom {
    padding-bottom: .5em;
}
.padding-bottom-x {
    padding-bottom: 1em!important;
}
.padding-left-5 {
    padding-left: 5em;
}
.padding-left-1 {
    padding-left: 2em!important;
}
.padding-left {
    padding-left: 1em!important;
}
.padding-left-h {
    padding-left: .5em!important;
}
.padding-right-2 {
    padding-right: 2em;
}
.padding-right {
    padding-right: 1em;
}
.padding-right-h {
    padding-right: .5em;
}
.padding-left-right {
    padding: 0 .5em;
}
.padding-top-bottom {
    padding: .5em 0;
}
.padding-zero {
    padding: 0!important;
}
.left-spacer {
    padding-left: 5%}
.margin: {
    margin: 1em;
}
.margin-h: {
    margin: .5em;
}
.margin-x: {
    margin: 1.5em;
}
.margin-top {
    margin-top: .5em!important;
}
.margin-top-x {
    margin-top: 1em!important;
}
.margin-top-xx {
    margin-top: 1.5em!important;
}
.margin-bottom {
    margin-bottom: 1em;
}
.margin-bottom-2 {
    margin-bottom: 2%}
.margin-bottom-h {
    margin-bottom: .5em;
}
.margin-left {
    margin-left: 1em!important;
}
.margin-right {
    margin-right: 1em!important;
}
.margin-left-h {
    margin-left: .5em;
}
.margin-left-x {
    margin-left: 1.5em!important;
}
.margin-right-h {
    margin-right: .5em;
}
.margin-left-right {
    margin: 0 .5em;
}
.margin-top-bottom {
    margin: 1em 0!important;
}
.margin-zero {
    margin: 0!important;
}
.ripplelink {
    display: inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 0;
}
.ripplelink:hover {
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, .3) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 16px 16px 0;
}
.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.animate {
    -webkit-animation: ripple .65s linear;
    -moz-animation: ripple .65s linear;
    -ms-animation: ripple .65s linear;
    -o-animation: ripple .65s linear;
    animation: ripple .65s linear;
}
@-webkit-keyframes ripple {
    100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
}
}@-moz-keyframes ripple {
    100% {
    opacity: 0;
    -moz-transform: scale(2.5);
}
}@-o-keyframes ripple {
    100% {
    opacity: 0;
    -o-transform: scale(2.5);
}
}@keyframes ripple {
    100% {
    opacity: 0;
    transform: scale(2.5);
}
}.cyan {
    background: #00bcd4;
}
.lightgreen {
    background: #8bc34a;
}
.amber {
    background: #ffc107;
}
.orange {
    background: #ff9800;
}
.zero-pad {
    padding: 0!important;
}
.zero-margin {
    margin: 0!important;
}
.zero-border {
    border: 0!important;
}
.zero-o {
    opacity: 0!important;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
form input {
    border-radius: 1px!important;
}
.vid-rg {
    padding: 20px;
    margin-top: 1%;
    border: 1px solid #c42c27;
    border-radius: 4px;
    background-color: transparent;
    color: #f5f5f5;
    text-decoration: none;
}
.vid-rg:hover {
    background-color: #C42C27;
    text-decoration: none;
    border-color: #C42C27;
    border-radius: 3px!important;
}
.vid-rg:focus {
    background-color: #C42C27;
    border-color: #C42C27;
    text-decoration: none;
}
.download img {
    width: 85%}
.download:hover, .gplus:hover {
    -webkit-transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    -moz-transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    -o-transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    transition: all 300ms cubic-bezier(.25, .25, .75, .75);
    -webkit-transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    -moz-transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    -o-transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    border-color: #cecece;
}
.play-hlpr {
    width: 18%!important;
    position: absolute;
    top: 15%;
    left: 14%}
.gplus {
    background-color: #000;
    border: 2px solid #434343;
/*    left: 36%;
*/	left:50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
/*    height: 4em;
 */   padding: 0!important;
}
.download {
    background-color: #000;
    border: 2px solid #434343;
/*    left: 36%;
*/	left:50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
    padding: 5px 10px!important;
}
.download, .gplus {
    opacity: 1;
    width: 24%;
    padding: 0 35px;
    border-radius: 6px;
    bottom: 5%;
    position: absolute;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.gplus img {
    width: 100%}
.gplus-hlpr {
    width: 11%!important;
    position: absolute;
    top: 28%;
    left: 6%}
.learn-more {
    position: absolute;
    height: 2em;
    width: 10em;
    top: -7%;
    left: 43%;
    border-radius: 50%;
    font-size: 1.7em;
    color: #fff;
    cursor: pointer;
    display: block;
    z-index: 999;
}
.learn-more i {
    vertical-align: 15px;
}
.learn-more:hover {
    background-color: rgba(0, 0, 0, .1);
}
.parallax-bg1 {
    height: 13em;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #00f;
    bottom: 0;
}
.loader-dv {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
    background-color: #000;
    color: #f5f5f5;
}
.loader-dv h3 {
    margin-left: 40%;
    text-shadow: none;
}
.loader-dv img {
    margin-top: 20%;
    margin-left: 46%}
#googlemaps {
    height: 450px;
    width: 100%}
.gmap_marker {
    color: #646464;
}
#queryFormDone {
    display: none;
    text-align: center;
    padding-top: 27%;
    min-height: 27.5em;
}
#queryFormDone h3 {
    margin: .5%}
.footer {
    background: 0 0;
    height: 9em;
    padding-top: 1em;
}
.footer p {
    color: #b9b9b9;
}
.footer a {
    color: #b9b9b9;
    text-decoration: none;
}
.footer a:hover {
    color: #f6f6f6;
    text-decoration: none;
}
.footer img {
    width: 3em;
    opacity: .7;
    margin-bottom: 14px;
}
.footer .social-footer {
    margin: 1%;
    padding-left: 1%}
.social-icos i {
    font-size: 15px!important;
    border: 1px solid rgba(233, 233, 233, .5);
    width: 1.9em;
    height: 1.9em;
    border-radius: 5em;
    padding: 4.5px 2px;
    margin-right: 3%;
    color: #e6453e;
    cursor: pointer;
}
.social-icos i:hover {
    background-color: #AD2721;
    border-color: #E9E9E9;
    color: #E9E9E9;
}
#about {
    height: 60%;
    padding-top: 4%;
    text-align: center;
    padding-bottom: 20%}
.followup {
    background-size: 125%;
    position: relative;
    line-height: 5em;
    height: 100%;
    padding-top: 3%;
    box-shadow: inset 4px 1px 41px 11px #131313, 5px 5px 5px 1px #242424;
    -webkit-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
    -moz-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
    -o-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
}
.followup .row {
    margin-bottom: 2%}
.followup .common-ico {
    width: 30%;
    display: block;
    margin-left: 35%}
.contactus {
    height: 80%;
    box-shadow: inset 4px 1px 41px 11px #131313, 5px 5px 5px 1px #242424;
    -webkit-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
    -moz-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
    -o-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
}
.contactus h3 {
    padding: 12% 0 4%;
    color: #f5f5f5;
    margin: 0;
}
.contactus span {
    font-size: 16px;
    color: #fff;
    display: inline-block;
}
.contactus i {
    color: #d1352e;
    font-size: 28px;
    vertical-align: -4px;
}
.contactus label {
    padding-bottom: 12px;
}
.parallax-overlay {
    width: 100%;
    height: 25%}
header {
    height: 80px;
    padding: 14px 0;
    text-align: center;
    line-height: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    transition: top .2s ease-in-out;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .26);
    z-index: 999999;
}
header img {
    max-width: 14em;
}
.nav-up {
    top: -80px;
}
.active {
    color: #fff!important;
    text-decoration: underline!important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#video-bg {
    width: 100%;
    height: 100%;
    position: absolute!important;
    top: 0;
}
.sholder {
    display: block;
    cursor: default;
    text-align: center;
    width: 65%;
    margin-bottom: 5px;
    overflow: hidden;
}
.sholder .abs-pos {
    padding-top: 18%;
    position: absolute;
    width: 60%}
#d-pitch5, #m-pitch3 {
    margin-bottom: 2em;
}
.open-right .sholder {
    margin-left: 20%}
.sholder img {
    left: 30%}
.sholder .sholder-head {
    position: relative;
    text-transform: uppercase;
    color: #c11f1f;
    text-align: center;
    font-size: 100%;
    padding: 3% 0 1%}
.sholder p {
    text-align: center;
}
.sudolalign {
    position: absolute;
    top: 35%;
    left: 36%}
.sudo-content {
    display: block;
    margin-top: 13.5%}
.sudo-content p {
    font-size: 22px;
    font-weight: 300;
    color: #d5d5d5;
    width: 40%;
    display: inline-block;
    vertical-align: -8em;
    padding-left: 8%}
.page-right .sudo-content p {
    vertical-align: -9.5em;
    padding-left: 17%;
    width: 55%}
.sudo-content .screen-left {
    position: relative;
    display: inline;
}
.sudo-content .screen-left img {
    width: 10%;
    margin-left: 30.4%;
    padding-top: 4.45%}
.sudo-content .screen-right {
    position: relative;
    display: inline;
}
.sudo-content .screen-right img {
    width: 21.5%;
    margin-left: -17%;
    margin-top: 5.5%}
.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
    transform: scale(.9);
    opacity: .7;
}
50% {
    transform: scale(1);
    opacity: 1;
}
100% {
    transform: scale(.9);
    opacity: .7;
}
}@-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale(.95);
    opacity: .7;
}
50% {
    -webkit-transform: scale(1);
    opacity: 1;
}
100% {
    -webkit-transform: scale(.95);
    opacity: .7;
}
}.rw-words {
    display: none;
}
.open-right .right-hlprB, .open-right .right-hlprT {
    opacity: 1;
    transition: opacity 5s ease;
    right: 43%}
.open-left .left-hlprB, .open-left .left-hlprT {
    opacity: 1;
    transition: opacity 5s ease;
    left: 44%}

.leftNHlpr:hover, .rightNHlpr:hover{display:block;}
.leftNHlpr {
	background:rgba(63, 63, 63, .47);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px;
    position: absolute;
    display:none;
	font-size:80%;
	margin-top:-8px;
	margin-right:100%;
    width: 22em;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
    text-align: right;
/*    right: 135%;
*/    color: rgba(255, 255, 255, .78);
}
.leftnav a:hover .leftNHlpr {
    opacity: 1;
    transition: all .5s ease;
}
.rightNHlpr {
	background:rgba(63, 63, 63, .47);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px;
    position: absolute;
    display:none;
    width: 22em;
    text-align: left;
	margin-top:-5px;
	margin-left:100%;
    color: rgba(255, 255, 255, .78);
}
.rightnav a:hover .rightNHlpr {
    opacity: 1;
    transition: all .5s ease;
}
#nprogress .bar {
    height: 5px!important;
}
#submit {
    background-color: rgba(196, 44, 39, 0)!important;
    border: 1.5px solid rgba(196, 44, 39, 1)!important;
    border-radius: 3px!important;
}
#submit:focus, #submit:hover {
    background-color: rgba(196, 44, 39, 1)!important;
    border: 1.5px solid rgba(196, 44, 39, 1)!important;
}
#live-events {
    zoom: .8;
    position: fixed;
    background-color: rgba(165, 29, 22, .66);
    border: 1px solid rgba(255, 255, 255, .27);
    top: 12%;
    right: 0;
    z-index: 999999;
    border-radius: 4px 0 0 4px;
    padding: 16px 8px;
    text-align: center;
    cursor: pointer;
    transition: all .25s ease;
}
#live-events:hover {
    transition: all .25s ease;
    background-color: rgba(165, 29, 22, 1);
}
#csm {
    z-index: 9999999;
}
#live-events img {
    display: block;
}
#live-events .pulse {
    padding-left: 15%;
    width: 80%;
    padding-bottom: 15%}
.event-modal {
    background-color: #fff;
    margin: -5% auto!important;
}
.modal {
    z-index: 9999999;
}
.event-header {
    margin-bottom: 0;
}
.event-header h3 {
    text-align: center;
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 2%;
    margin: 3% 3% 0;
    color: #a02020;
    display: block;
    width: 95%;
    font-size: 20px;
    font-family: proximaLight;
}
.event-header img {
    width: 20px;
    vertical-align: -2px;
}
.event-body {
    padding-top: 0;
}
.event-body img {
    position: absolute;
    right: 0;
    top: -13%;
    opacity: .1;
    z-index: 1;
    width: 100%}
.event-body .event-link {
    position: absolute;
    z-index: 99;
    width: 100%;
    text-align: center;
    left: 0;
}
.event-body .owl-carousel {
    padding: 2% 0;
}
.modal-backdrop.in {
    z-index: 999999;
}
.st-bck {
    background-color: #000;
}
.st-bck h2 {
    padding: 9% 9% 11%;
    color: #efefef;
}
.policy {
    margin-top: -10%;
    margin-bottom: 3%;
    background-color: #232323;
    padding: 2em 4em;
}
.insta-btn {
    font-size:  20px;
    background-color: rgba(196, 44, 39, 0)!important;
    border: 1.5px solid rgba(196, 44, 39, 1)!important;
    color: #fff;
}
.insta-btn:focus {
    border: 1.5px solid rgba(196, 44, 39, 1)!important;
    color: #fff;
}
.insta-btn:hover {
    color: #fff;
    background-color: rgba(196, 44, 39, 1)!important;
}
.policy h2 {
    font-size: 24px;
    color: #F6F6F6;
}
.policy p {
    color: #D1D1D1;
}
.policy a {
    color: #5353d6;
}
#csm .modal-content, .event-modal .modal-content {
    margin-top: 60%;
    background-color: rgba(237, 237, 237, .82);
}
#csm .modal-footer {
    border: none;
    padding-top: 0;
    text-align: center;
}
#csm .btn.btn-danger {
    background-color: #C42C27;
    padding: 12px 24px;
    font-size: 18px;
}
.tobeText {
    text-shadow: none;
    text-align: center;
}
.tobehide {
    margin-top: 4%}
#m1 .leftNHlpr {
    top: 11%}
#m2 .leftNHlpr {
    top: 40%}
#m3 .leftNHlpr {
    top: 71%;
    width: 21em;
}
#d1 .rightNHlpr {
    top: 7%}
#d2 .rightNHlpr {
    top: 26%}
#d3 .rightNHlpr {
    top: 45%;
    left: -74%}
#d4 .rightNHlpr {
    top: 62%;
    left: 125%}
#d5 .rightNHlpr {
    top: 81%;
    left: -138%}
#submit.btn {
    background-color: #C42C27;
    padding: 18px 0;
    font-size: 18px;
    border: none;
    margin-top: 7%;
    width: 100%}
.map-vra {
    vertical-align: 36px!important;
}
.pad-b6 {
    padding-bottom: 11%!important;
}
.gplus-nr {
    float: right;
    width: 82%!important;
    padding: 3% 7% 0 0;
}
.none {
    display: none;
}
#twitter-widget-0 {
    margin-top: 5%}
 .media-presnece  {
    padding-top:  3em;
}
 .media-presnece img {
    width:  12em;
}
.media-presnece a {
  background-color:  black;
  padding:  15% 10%;
  border-radius:  2px;
}
 .media-presnece a:hover {
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-shadow: inset inset 4px 1px 41px 11px #000, 0px 0px 15px 0px #2F2F2F;
  -webkit-box-shadow: inset 4px 1px 41px 11px #000, 0px 0px 15px 0px #2F2F2F;
  -moz-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
  -o-box-shadow: inset 4px 1px 41px 11px #000, 5px 5px 5px 1px #000;
}
 .blg-btn {
    padding:  12px 48px;
     margin:  0.5% 4% 0 0;
     border:  1px solid rgba(97,  97,  97,  0.66);
     background-color:  rgba(196,  44,  39,  0.6);
     color:  #f5f5f5;
     text-decoration:  none;
     float:  right;
     border-radius:  1px;
}
 .blg-btn:hover {
    background-color:  #c42c27;
    border-color:  #9E2521;
    text-decoration:  inherit;
}

.press{
  background-color: black;
  position: relative;
  line-height: 2em;
  height: auto;
  padding-top: 1.5%;
  margin-top: -1%;
}


/*added by achin */
.slide{float:left; position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden;}
.slide.media-presnece{position:relative; z-index:1;}
.slide:not(.vertical) .slide_main{float:left; width:100%; height:100%; position:relative; top:0; right:100%; bottom:0%; z-index:0;}
.slide.vertical .slide_main{float:left; width:100%; height:100%; position:relative; right:0%; bottom:100%; z-index:0;}
ul.slide_buttons{
    list-style-type: none;
    position: absolute;
    background-color: rgba(63, 63, 63, .47);
    padding: 2% 1% 0;
    border-radius: 12px;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.page-left .slide_buttons{left: 5%;}
.page-right .slide_buttons{right:5%;}
ul.slide_buttons li{
    height: 16px;
    width: 16px;
	cursor:pointer;
    border: 2px solid rgba(219, 219, 219, .7);
    transition: all .5s ease;
    margin-bottom: 18px;
    border-radius: 15px;
    display: block;
}
ul.slide_buttons li:hover span{display:block;}
ul.slide_buttons li.active{background-color: #b50e0e;}
.slide_element{float: left; width:100%; height: 100%; text-align:center;}
.slide_content{ width: 70%; position:relative; top:50%; left:50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.slide_content h3{text-transform: uppercase; color: #c11f1f; font-size:75%;}
.slide_content p{font-weight: 300; font-size: 70%; font-family: proximaLight;}
.slide_image{float:left; width:100%; height:100%;}
.slide_arrow_container{float:left; width:100%; height:100%; position:absolute; z-index:1;}
.slide_arrow{width:48px; height:48px; opacity:0.6; cursor:pointer; display:none;}
.slide_arrow:hover{ background-position:0px 0px; opacity:0.8; }
.left_arrow{float:left; left:0%; margin:18.5% 0px 0px 10px; background:url(http://gharsearch.com/images/slider-nav-left.png); background-position:0px -72px;}
.right_arrow{float:right; right:0%; margin:18.5% 10px 0px 0px; background:url(http://gharsearch.com/images/slider-nav-right.png); background-position:0px -72px; }
