doctype html
html.no-js(lang="en")
  head
    title Instalively-Live streaming made easy.
    
    //- Meta Data
    meta(charset='utf-8')
    meta(name='keywords', content='Streaming,android,live streaming,broadcast,live stream,live streaming android app,stream live android')
    meta(name='Description', content='Share your memories while you make them,Instalively is a live streaming android app that lets you stream video from your android phone to your Youtube channel.')
    meta(name='google-site-verification', content="-uKHhzkVgtWlBWlDwTeHm6jSiq7BSu9gIz3liPpFBm4")
    meta(name='google', content='nositelinkssearchbox')
    meta(name="majestic-site-verification", content="MJ12_bd697943-0265-4d5f-9db4-60760044d91b")
    
    //- bower_components
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")    
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")

    //- Custom
    link(href="public/landing-page/css/style.min.css", rel="stylesheet", type="text/css")
    link(href="public/landing-page/css/responsive.min.css", rel="stylesheet", type="text/css")
    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //-if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body
    header.nav-down
      a(href="/")
        img(src="../../public/landing-page/img/live-streaming-logo-small.png", draggable="false")
    .container
      .row
        .st-bck 
          h2(style="background:url('../../public/landing-page/img/live-streaming-wall.png');background-size: 100%;background-position: 1% 43%;margin-top: 0;") Signup for Private Beta
        .col-md-10.col-md-offset-1.policy.padding-zero
          div
            div(style="margin: 3%;")
              h4.margin-bottom.tobeText(style="text-align:left;color: rgb(219, 219, 219);") Please enter your Gmail ID that you use to download on the Google Playstore.
              .row
                form#beta-form
                  .col-md-8
                      input.tobehide(type="email", name='email', class="form-control", id="inputEmail3", placeholder="YOUR PLAYSTORE EMAIL HERE", style="margin:0;padding: 19px;")
                  .col-md-2
                    button.btn.insta-btn(type="submit") Signup
          div
            img(src="../../public/landing-page/img/YouPartyWePay.jpg", draggable="false", alt="Playstore", style="width:100%")
    script(src="bower_components/jquery/dist/jquery.min.js", type="text/javascript")
    script.
      //- Subscribe modal
      function IsEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
      }
      $("#beta-form").submit(function(e) {
        if (IsEmail($("#inputEmail3").val())) {
            var t = window.location.origin + "/api/v1/signup?signup=true";
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: t,
                data: $("#beta-form").serialize(),
                success: function(e) {
                  $(".tobehide").hide();
                  $(".insta-btn").hide();
                  $(".tobeText").text("Thank you for signing up for Instalively Beta. You'll receive the download link on your mail shortly!" );
                }
            })
          }
          else{
            e.preventDefault();
          }
      });

      //- Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-59474062-1', 'auto');
      ga('send', 'pageview');
