doctype html
html.no-js(lang="en")
	head
		title Instalively- Live streaming made easy.
		
		//- Meta Data

		meta(charset='utf-8')
		meta(name="description", content="Instalively is a live streaming android application that lets you live stream videos in HD to your YouTube.This live streaming android application works on 3G.")
		//meta(name="viewport", content="width=device-width, height=device-height, initial-scale=0.4, maximum-scale=0.4, user-scalable=yes")
		//meta(name="viewport", content="min-width=600, max-width=1200, height=device-height, initial-scale=0.4, maximum-scale=0.4, user-scalable=yes")
		meta(name="keywords", content="live streaming,live streaming android app, live streaming android,android,streaming,stream live on android,streaming live video,livestream,live streaming on android phone,live streaming india,live streaming android india,live streaming android application")
		meta(name="author", content="Instalively Livestreaming Pvt. Ltd")
		meta(name="robots", content="index, follow")
		meta(name='google-site-verification', content="-uKHhzkVgtWlBWlDwTeHm6jSiq7BSu9gIz3liPpFBm4")
		meta(name='google', content='nositelinkssearchbox')
		meta(name="majestic-site-verification", content="MJ12_bd697943-0265-4d5f-9db4-60760044d91b")
		//- live streaming android app,live streaming,livestreaming android application
		
		//- Open graph and twitter tags
		meta(property="og:url", content="http://www.instalively.com")
		meta(property="fb:app_id", content="421294164711552")
		meta(property="og:title", content="Instalively- Live streaming made easy.")
		meta(property="og:description", content="Instalively is a live streaming android application that lets you live stream videos in HD to your YouTube.This live streaming android application works on 3G.")
		meta(property="og:locale", content="en_US")
		meta(property="og:type", content="website")
		meta(property="og:site_name", content="Instalively")
		//- Images
		meta(property="og:image", content="http://s26.postimg.org/hz9fb435l/1619154_658385037621965_6103717543058441142_n.jpg")
		meta(property="og:image:type", content="image/jpg")
		meta(property="og:image:width", content="1280")
		meta(property="og:image:height", content="720")

		//- Twitter sharing
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@instalively')
		meta(name='twitter:title', content='Instalively- Live streaming made easy.')
		meta(name='twitter:description', content='Instalively is a live streaming android application that lets you live stream videos in HD to your YouTube.This live streaming android application works on 3G.')
		meta(name="twitter:url", content="http://www.instalively.com")
		//- Image
		meta(name='twitter:image', content="http://s26.postimg.org/hz9fb435l/1619154_658385037621965_6103717543058441142_n.jpg")

		//- bower_components		
		link(href="bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")		
		link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="bower_components/Hover/css/hover-min.css", rel="stylesheet", type="text/css")
	
		//- Custom
		link(href="public/landing-page/css/style.css", rel="stylesheet", type="text/css")
		link(href="public/landing-page/css/responsive.css", rel="stylesheet", type="text/css")
		
		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//-if lt IE 9
		script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")

		script(src="bower_components/jquery/dist/jquery.min.js", type="text/javascript")
		script(src="bower_components/jquery/dist/jquery.touchswipe.js", type="text/javascript")
		script(src="bower_components/vide/dist/jquery.vide.min.js", type="text/javascript")
		
		//- Vendors
		script(src="public/landing-page/js/vendors.min.js", type="text/javascript")
		script.			
			//- Mix Panel
			(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
			for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
			mixpanel.init("56b64e52c3e6a82aca826964e6a60c1c");
			
			var n = 0;
			$.imgpreload(['../public/landing-page/img/load.gif','../../public/landing-page/img/live-streaming-logo-small.png','../../public/landing-page/img/live-streaming-playstore-hlpr.png','../../public/landing-page/img/live-streaming-playstore.png','../../public/landing-page/img/live-streaming-gplus-hlpr.png','../../public/landing-page/img/live-streaming-gplus.png','../../public/landing-page/video/live-streaming-video.jpg','../../public/landing-page/img/Desktop_mockup/live-streaming-desktop-3.png','../public/landing-page/img/Desktop_mockup/live-streaming-desktop-2.png','../public/landing-page/img/Desktop_mockup/live-streaming-desktop-1.png','../public/landing-page/img/Desktop_mockup/live-streaming-desktop-4.png','../public/landing-page/img/Desktop_mockup/live-streaming-desktop-5.png','../public/landing-page/img/Mobile_mockup/live-streaming-mobile-1.png','../public/landing-page/img/Mobile_mockup/live-streaming-mobile-2.png','../public/landing-page/img/Mobile_mockup/live-streaming-mobile-3.png'],
			{
				each: function()
				{
					n = n + 0.01;
					NProgress.set(n);
				},
				all: function()
				{
					$("#video-bg").vide({
								//- mp4: "../../public/landing-page/video/video.mp4",
								webm: "../../public/landing-page/video/video.webm",
								poster: "../../public/landing-page/video/live-streaming-video.jpg"
					},{
								volume: 0,
								playbackRate: 1,
								muted: true,
								loop: true,
								autoplay: true,
								position: "0% 0%",
								posterType: "jpg",
								resizing: true 
					});
					$(".loader-dv").fadeOut();
					$.imgpreload(['../../public/landing-page/img/single/live-streaming-one-tap-live.png','../../public/landing-page/img/single/live-streaming-share.png','../../public/landing-page/img/single/live-streaming-anywhere-anytime-live.png','../../public/landing-page/img/single/live-streaming-one-tap-live.png','../../public/landing-page/img/single/live-streaming-share.png','../../public/landing-page/img/single/live-streaming-anywhere-anytime-live.png','../../public/landing-page/img/single/live-streaming-gather-audience.png','../../public/landing-page/img/single/live-streaming-digital-archive.png','../../public/landing-page/img/single/live-streaming-analytics.png','../../public/landing-page/img/single/live-streaming-videographer-doorstep.png','../../public/landing-page/img/single/live-streaming-gather-audience.png','../../public/landing-page/img/single/live-streaming-digital-archive.png','../../public/landing-page/img/single/live-streaming-analytics.png','../../public/landing-page/img/single/live-streaming-videographer-doorstep.png','../../public/landing-page/img/parallax/live-streaming-parallax.png','../../public/landing-page/img/parallax/live-streaming-parallax-1.png','../../public/landing-page/img/common/live-streaming-engage-audience.png','../../public/landing-page/img/common/live-streaming-hd-ready.png','../../public/landing-page/img/common/live-streaming-viewable-2g.png','../../public/landing-page/img/common/live-streaming-youtube-syncs.png','../../public/landing-page/img/live-streaming-logo-art-inverted.png'],
					{
						each: function() {
						},
						all: function() {
							NProgress.done();
						}
					})	
				}
			});
	body
		h1.none Share your memories while you make them, Instalively is a live streaming android app that lets you stream video from your android phone to your Youtube channel. 
		header.nav-down
			a(href="/")
				img(src="../../public/landing-page/img/live-streaming-logo-small.png", draggable="false", alt="Instalively Logo", class="instalogo")
			a#vid-rg.btn-primary.blg-btn(href="/blog", target="_blank") 
				//- i.fa.fa-newspaper-o(style="padding-right:12px")
				|	 Blog
		h2.landscape-msg Please turn to portrait mode 
		//- .loader-dv
			img(src="../../public/landing-page/img/load.gif", draggable="false", alt="Instalively Logo Gif")
			h3 Be patient while we load all resources...
		.container.zero-pad
			//- Subscribe modal
			#events-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='LiveEvents', aria-hidden='true')
				.modal-dialog.event-modal
					.modal-content
						.event-header
							h3 
								img(src="../../public/landing-page/img/stream.png", draggable="false", alt="Streaming-today")
								|	Today's Events
						.event-body
							.row
								.col-md-12
									#owl-live.owl-carousel
										.owl-child
											h3 I Inspire 2015
											p I Inspire 2015, an annual inclusive leadership conference, aims to be a confluence of ideas, a convergence of thoughts and celebration of the spirit of diversity and leadership. 
											p - See more at: 
											a.event-link(target="_blank", href="http://www.instalively.com/event/inspire2015") www.instalively.com/event/inspire2015
											img(src="https://s3-ap-southeast-1.amazonaws.com/instalively.images/event/cover/551e716a7720503b644de470.jpeg", draggable="false", alt="Event-cover")
										.owl-child
											h3 India Internet Day 2015
											p The 4th consecutive India Internet Day, scheduled for 17 April 2015 at the Leela Ambience, Gurgaon has carved a unique positioning in the industry and has emerged stronger and smarter in each edition.
											p - See more at: 
											a.event-link(target="_blank", href="http://www.instalively.com/event/iday2015") www.instalively.com/event/iday2015
											img(src="https://s3-ap-southeast-1.amazonaws.com/instalively.images/event/cover/552fa10a6219239c7c615a2a.jpeg", draggable="false", alt="Event-cover")
			#csm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Subscribe', aria-hidden='true')
				.modal-dialog
					.modal-content
						form#csm-form.form-horizontal
							.modal-body
								.form-group
									.col-sm-12
										h4.tobeText Please leave your Email ID and Contact no.
											br
											| Our customer representative will contact you soon.
										.tobehide
											h5 Your Email Address
											input(type="email", name="email", class="form-control", id="inputEmail3", placeholder="Email")
											h5 Your Contact Number
											input(type="number", name="phone", class="form-control", id="phonenumber", placeholder="Contact No.")
							.modal-footer
								//- button.btn.btn-default(type='button', data-dismiss='modal') Close
								button.btn.btn-danger(type="submit") Subscribe
			//- .video-bg(data-vide-bg="webm: ../../public/landing-page/video/video.webm, poster: ../../public/landing-page/video/live-streaming-video.jpg", data-vide-options="posterType: jpg, loop: true, muted: true, position: 0% 0%, resizing: true")
			#video-bg
			#sudo-bind
			//- #live-events(type="button", data-toggle="modal", data-target="#events-modal")
			//- 	img.pulse(src="../../public/landing-page/img/stream_wh.png", draggable="false")
			//- 	img(src="../../public/landing-page/img/live-streaming-livenow.png", draggable="false", style="padding-left: 4%;")
			#splitlayout.splitlayout.outer-s
				.intro
					.title-text
						span.fat Go Live
						span  Way To 
						span.rw-words Easiest
						span.rw-words Fastest
						span.rw-words Simplest
					.side.side-left
						#intro-l.intro-content.intro-l
							//
								.leftnav
									a#m1(data-scroll href="#m-pitch1")
										span.leftNHlpr One-touch Live Streaming - 
									a#m2(data-scroll href="#m-pitch2")
										span.leftNHlpr Share automatically - 
									a#m3(data-scroll href="#m-pitch3")
										span.leftNHlpr Anywhere, Anyplace, Anytime. Free Forever - 
							//- .left-hlprT
							//- .left-hlprB
							.left-mck
							//
								i.left-ico
									img(src="../../public/landing-page/img/left.png", draggable="false", alt="left-arrow")
							p 
								|	Share your moments with a swipe
						a#download.btn.ripplelink.btn-lg.download(target="_blank", href="/beta")
							img.hvr-pop.play-hlpr(src="../../public/landing-page/img/live-streaming-playstore-hlpr.png", draggable="false", alt="playstore")
							img(src="../../public/landing-page/img/live-streaming-playstore.png", draggable="false", alt="Playstore-icon")
					.side.side-right
						#intro-r.intro-content.intro-r
							//
								.rightnav
									a#d1(data-scroll href="#d-pitch1")
										span.rightNHlpr - Gather Audience With Custom Branded Event Page 
									a#d2(data-scroll href="#d-pitch2")
										span.rightNHlpr - Choose How You Broadcast
									a#d3(data-scroll href="#d-pitch3")
										span.rightNHlpr - View AD Free
									a#d4(data-scroll href="#d-pitch4")
										span.rightNHlpr - Digital Archives On The Cloud, Free Forever 
									a#d5(data-scroll href="#d-pitch5")
										span.rightNHlpr - Analytics  
							//- .right-hlprT
							//- .right-hlprB
							.right-mck
							//
								i.right-ico
									img(src="../../public/landing-page/img/right.png", draggable="false", alt="right-arrow")
							p 
								|	Professional Broadcasting Made Simple
						a#gplus.btn.ripplelink.btn-lg.gplus(type="button", data-toggle="modal", data-target="#csm")
							img.hvr-pop.gplus-hlpr(src="../../public/landing-page/img/live-streaming-gplus-hlpr.png", draggable="false", alt="google-plus")
							img.gplus-nr(src="../../public/landing-page/img/live-streaming-gplus.png", draggable="false", alt="google-plus")
				//- Mobile Pitch
				.page.page-left
					i.fa.fa-home.home-left
					span.fixTitle
						|	Share your moments with a swipe
					.slide.vertical
						#left_slider.slide_main
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-one-tap-live.png", draggable="false", alt="live-streaming-one-tap")
									h3 One-touch Live Streaming
									p LiveStreaming is possible now with just a swipe of your finger. Easy to use interface makes it simpler than ever to broadcast effortlessly and quickly.
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-share.png", draggable="false", alt="live-streaming-share")
									h3 Share automatically
									p Share your experiences with your friends and fans across social media channels to engage them live.
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-anywhere-anytime-live.png", draggable="false", alt="live-streaming-anywhere-anytime-live")
									h3 Anywhere, Anyplace, Anytime. Free Forever.
									p Stream live on-the-go without worrying about internet speed, location or device. And yes, free forever.
					ul.slide_buttons
						li
							span.leftNHlpr One-touch Live Streaming - 
						li
							span.leftNHlpr Share automatically - 
						li
							span.leftNHlpr Anywhere, Anyplace, Anytime. Free Forever - 
				//	.page-inner
						.leftnav
							a#m1(data-scroll href="#m-pitch1")
								span.leftNHlpr One-touch Live Streaming - 
							a#m2(data-scroll href="#m-pitch2")
								span.leftNHlpr Share automatically - 
							a#m3(data-scroll href="#m-pitch3")
								span.leftNHlpr Anywhere, Anyplace, Anytime. Free Forever - 
						#owl-l.owl-carousel
							div  
								img(src="../../public/landing-page/img/single/live-streaming-one-tap-live.png", draggable="false", alt="live-streaming-one-tap")
								h3 One-touch Live Streaming
								p LiveStreaming is possible now with just a swipe of your finger. Easy to use interface makes it simpler than ever to broadcast effortlessly and quickly.
							div 
								img(src="../../public/landing-page/img/single/live-streaming-share.png", draggable="false", alt="live-streaming-share")
								h3 Share automatically
								p Share your experiences with your friends and fans across social media channels to engage them live.
							div 
								img(src="../../public/landing-page/img/single/live-streaming-anywhere-anytime-live.png", draggable="false", alt="live-streaming-anywhere-anytime-live")
								h3 Anywhere, Anyplace, Anytime. Free Forever.
								p Stream live on-the-go without worrying about internet speed, location or device. And yes, free forever.
						#m-pitch1.sholder
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-one-tap-live.png", draggable="false", alt="live-streaming-ontap-live")
								.sholder-head One-touch Live Streaming
								p LiveStreaming is possible now with just a swipe of your finger. Easy to use interface makes it simpler than ever to broadcast effortlessly and quickly.
						#m-pitch2.sholder.res12-r2
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-share.png", draggable="false", alt="live-streaming-share")
								.sholder-head Share automatically
								p Share your experiences with your friends and fans across social media channels to engage them live.
						#m-pitch3.sholder.res12-r4
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-anywhere-anytime-live.png", draggable="false", alt="live-streaming-anywhere-live")
								.sholder-head Anywhere, Anyplace, Anytime. Free Forever.
								p Stream live on-the-go without worrying about internet speed, location or device. And yes, free forever.
				//- Desktop Pitch
				.page.page-right
					i.fa.fa-home.home-left
					span.fixTitle-r 
						|	Professional broadcasting made simple
					.slide.vertical
						#right_slider.slide_main
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-gather-audience.png", draggable="false", alt="live-streaming-gather-audience")
									h3 Gather Audience with custom branded event page 
									p Create your custom branded event page to create buzz about the live event beforehand. Users can easily set reminders to notify them before the start of the LiveStream.
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-videographer-doorstep.png", draggable="false", alt="live-streaming-videographer-doorstep")
									h3 Choose how you Broadcast
									p Looking for a professional LiveBroadcasting Camera setup? We have you covered! You can now be paired up with the nearest InstaLively-certified-Broadcaster to help you out with your professional LiveStreaming setup in no time.						
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-ad-free.png", draggable="false", alt="live-streaming-ad-free")
									h3 View Ad free videos
									p Watch Ad free uninterrupted Live Streams from your Desktop, Laptop or Mobile! No more interrupted streaming. Live streaming for all!
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-digital-archive.png", draggable="false", alt="live-streaming-digital-archive")
									h3 Digital Archives on the cloud, free forever
									p Save your Live streams as valuable archives to be viewed and savored on a later date.
							.slide_element
								.slide_content
									img(src="../../public/landing-page/img/single/live-streaming-analytics.png", draggable="false", alt="live-streaming-analytics")
									h3 Analytics
									p Use advanced analytics to track social engagement metrics of your live event globally.
					ul.slide_buttons
						li
							span.rightNHlpr - Gather Audience With Custom Branded Event Page 
						li
							span.rightNHlpr - Choose How You Broadcast
						li
							span.rightNHlpr - View AD Free
						li
							span.rightNHlpr - Digital Archives On The Cloud, Free Forever 
						li
							span.rightNHlpr - Analytics  
				//
					.rightnav
						a#d1(data-scroll href="#d-pitch1")
							span.rightNHlpr - Gather Audience With Custom Branded Event Page 
						a#d2(data-scroll href="#d-pitch2")
							span.rightNHlpr - Choose How You Broadcast
						a#d3(data-scroll href="#d-pitch3")
							span.rightNHlpr - View AD Free
						a#d4(data-scroll href="#d-pitch4")
							span.rightNHlpr - Digital Archives On The Cloud, Free Forever 
						a#d5(data-scroll href="#d-pitch5")
							span.rightNHlpr - Analytics  
					.page-inner
						#owl.owl-carousel
							div  
								img(src="../../public/landing-page/img/single/live-streaming-gather-audience.png", draggable="false", alt="live-streaming-gather-audience")
								h3 Gather Audience with custom branded event page 
								p Create your custom branded event page to create buzz about the live event beforehand. Users can easily set reminders to notify them before the start of the LiveStream.
							div 
								img(src="../../public/landing-page/img/single/live-streaming-videographer-doorstep.png", draggable="false", alt="live-streaming-videographer-doorstep")
								h3  Choose how you Broadcast
								p Looking for a professional LiveBroadcasting Camera setup? We have you covered! You can now be paired up with the nearest InstaLively-certified-Broadcaster to help you out with your professional LiveStreaming setup in no time.						
							div 
								img(src="../../public/landing-page/img/single/live-streaming-ad-free.png", draggable="false", alt="live-streaming-ad-free")
								h3  View Ad free videos
								p Watch Ad free uninterrupted Live Streams from your Desktop, Laptop or Mobile! No more interrupted streaming. Live streaming for all!
							div 
								img(src="../../public/landing-page/img/single/live-streaming-digital-archive.png", draggable="false", alt="live-streaming-digital-archive")
								h3 Digital Archives on the cloud, free forever
								p Save your Live streams as valuable archives to be viewed and savored on a later date.
							div 
								img(src="../../public/landing-page/img/single/live-streaming-analytics.png", draggable="false", alt="live-streaming-analytics")
								h3 Analytics
								p Use advanced analytics to track social engagement metrics of your live event globally.
						#d-pitch1.sholder
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-gather-audience.png", draggable="false", alt="live-streaming-gather-audience")
								.sholder-head Gather Audience with custom branded event page 
								p Create your custom branded event page to create buzz about the live event beforehand. Users can easily set reminders to notify them before the start of the LiveStream.
						#d-pitch2.sholder.res12-r2
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-videographer-doorstep.png", draggable="false", alt="live-streaming-videographer-doorstep")
								.sholder-head Choose how you Broadcast
								p Looking for a professional LiveBroadcasting Camera setup? We have you covered! You can now be paired up with the nearest InstaLively-certified-Broadcaster to help you out with your professional LiveStreaming setup in no time.						
						#d-pitch3.sholder.res12-r5
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-ad-free.png", draggable="false", alt="live-streaming-ad-free")
								.sholder-head View Ad free videos
								p Watch Ad free uninterrupted Live Streams from your Desktop, Laptop or Mobile! No more interrupted streaming. Live streaming for all!
						#d-pitch4.sholder.res12-r5
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-digital-archive.png", draggable="false", alt="live-streaming-digital-archive")
								.sholder-head Digital Archives on the cloud, free forever
								p Save your Live streams as valuable archives to be viewed and savored on a later date.
						#d-pitch5.sholder.res12-r3
							.abs-pos
								img(src="../../public/landing-page/img/single/live-streaming-analytics.png", draggable="false", alt="live-streaming-analytics")
								.sholder-head Analytics
								p Use advanced analytics to track social engagement metrics of your live event globally.
			.followup.container.align-center(class="parallax-window", data-parallax="scroll", data-image-src="../../public/landing-page/img/parallax/live-streaming-parallax.png", alt="parallax-image")
				.learn-more.pulse
					i.fa.fa-chevron-down
				h2.header The Instalively Experience
				.row
					.col-md-12
						h2.sub-header The first end-to-end LiveStreaming platform with absolutely no hassles.
				.row.margin-bottom-2
					.col-md-6
						h3.cnct-f Engage your Audience
						img.common-ico(src="../../public/landing-page/img/common/live-streaming-engage-audience.png", draggable="false", alt="live-streaming-engage-audience")
						p.cnct-s Reach out to your audience across the world on the click of a button.
					.col-md-6
						h3.cnct-f HD vision
						img.common-ico(src="../../public/landing-page/img/common/live-streaming-hd-ready.png", draggable="false", alt="live-streaming-hd-ready")
						p.cnct-s Broadcast to the world in crystal clear quality
				.row
					.col-md-6
						h3.cnct-f Flexible on speed
						img.common-ico(src="../../public/landing-page/img/common/live-streaming-viewable-2g.png", draggable="false", alt="live-streaming-viewable-2g")
						p.cnct-s No high speed internet? No problem! Live streaming has never been this hassle free before!
					.col-md-6
						h3.cnct-f Youtube Sync
						img.common-ico(src="../../public/landing-page/img/common/live-streaming-youtube-syncs.png", draggable="false", alt="live-streaming-youtube-syncs")
						p.cnct-s Automatically sync-up with your Youtube channel to provide a smooth livestreaming experience
			.press.container.align-center
				h2.header Press
				.slide.media-presnece.margin-bottom-2
					#press_slider.slide_main.has_children
						.slide_element
							.col-md-3.col-sm-3.slide_element_child
								a(href="http://www.huffingtonpost.in/2015/05/04/instalively-live-streaming_n_7202398.html?utm_hp_ref=in-tech", target="_bank")
									img(src="http://s26.postimg.org/tjnwe07w9/image.png", alt="www.huffingtonpost.in")
							.col-md-3.col-sm-3.slide_element_child
								a(href="http://gadgets.ndtv.com/apps/features/inside-instalively-an-indian-answer-to-meerkat-and-periscope-693513", target="_bank")
									img(src="http://s26.postimg.org/4p4ejxn21/image.png", alt="gadgets.ndtv.com")
							.col-md-3.col-sm-3.slide_element_child
								a(href="http://yourstory.com/2015/04/instalively-funding/", target="_bank")
									img(src="http://s26.postimg.org/87gegbny1/image.png", alt="yourstory.com")
							.col-md-3.col-sm-3.slide_element_child
								a(href="http://inc42.com/buzz/exclusive-delhi-based-instalively-gets-120k-in-seed-funding/", target="_bank")
									img(src="http://s26.postimg.org/oz1pz2o6x/image.png", alt="inc42.com")
			.contactus.container(class="parallax-window", data-parallax="scroll", data-image-src="../../public/landing-page/img/parallax/live-streaming-parallax-1.png", alt="parallax")
				.container
					.row
						.heading.text-center
							h2.header.margin-top-xx Contact Us
					.row.margin-top-xx.padding-bottom.light
						.col-md-4.col-sm-12.col-md-offset-1.col-sm-12.padding-right-2.white
							#queryFormDone
								h3.white Thankyou for contacting us. 
								h3 We'll get back to you soon.
							form#queryForm(action='/api/v1/query', method='post')
								.form-group
									label(for='name') Name
									input#name.form-control(type='text', name='name', placeholder='Enter name', title='Please enter your name', required)
								.form-group
									label(for='email') Email
									input#email.form-control(type='email', name='email', placeholder='Enter email', title='Please enter a valid email address', required)
								.form-group
									label(for='message') Comments
									textarea#message.form-control(name='message', cols='3', rows='5', placeholder='Enter your message…', title='Please enter your message', required)
									button#submit.btn.btn-lg.btn-primary(name='submit', type='submit') Submit
								.result
						.col-md-4.col-sm-12.col-sm-12.white.padding-left-5.res-btm
							h3 Meet Us
							span
								i.fa.fa-map-marker.map-vra
								span
									span.padding-left InstaLively LiveStreaming Pvt. Ltd.
									br
									span.padding-left 125, Shahpur Jat
									br
									span.padding-left New Delhi, India - 110047
							h3 Reach Us
							//- span
							//- 	i.fa.fa-envelope-o
							//- 	span.padding-left contact@instalively.com
							p
								| +91 8130769924, +91 9660110370
							p.social-icos
								a(href="https://www.facebook.com/instalively", target="_blank")
									i.ripplelink.fa.fa-facebook
								a(href="https://twitter.com/instalively", target="_blank")
									i.ripplelink.fa.fa-twitter
								a(href="https://plus.google.com/+Instalively122/about", target="_blank")
									i.ripplelink.fa.fa-google-plus
								a(href="mailto:contact@instalively.com?Subject=Query%20via%20website", target="_top")
									i.ripplelink.fa.fa-envelope-o
							#map-canvas
							h3.pad-b6 Are You A Videographer?
							a#vid-rg.btn-primary.vid-rg(href="http://www.instalively.com/videographer/register", target="_blank") Partner With Us
						.col-md-3.col-sm-12.white.res-btm-scl
							#fb-root
							.fb-like(data-href="https://www.facebook.com/instalively", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true", style="margin-top: 6%;", data-colorscheme="dark")
							br
							a.twitter-follow-button(href="https://twitter.com/instalively", data-show-count="true", data-lang="en", style="margin-top: 4%;") Follow @twitterdev
							br
							br
							.g-follow(data-annotation="bubble", data-height="20", data-href="https://plus.google.com/109012682666123094073", data-rel="publisher")
					.row.footer
						.col-md-12.align-center.padding-top-f 
							.social-footer
							img(src="../../public/landing-page/img/live-streaming-logo-art-inverted.png", draggable="false", alt="Instalively Logo")
							p © All Rights Reserved | 
								a(href="/privacy", target="none")  Privacy
				//- CDN
		script(src="https://apis.google.com/js/platform.js", async)
		script(src="https://maps.googleapis.com/maps/api/js", type="text/javascript")

		//- Bower
		script(src="bower_components/parallax.js/parallax.min.js", type="text/javascript")
		
		//- Custom
		script(src="public/landing-page/js/extentions.js", type="text/javascript")
		script(src="public/landing-page/js/script.js", type="text/javascript")
		script(src="public/landing-page/js/mixpanel.js", type="text/javascript")

		//- Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-59474062-1', 'auto');
			ga('send', 'pageview');
			
			//- Facebook Like
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=770563023017736";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			//- Twitter Page
			window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
		