doctype html
html.no-js(lang="en")
	head
		title Instalively-Live streaming made easy.
		
		//- Meta Data
		meta(charset='utf-8')
		meta(name='keywords', content='Streaming,android,live streaming,broadcast,live stream,live streaming android app,stream live android')
		meta(name='Description', content='Share your memories while you make them,Instalively is a live streaming android app that lets you stream video from your android phone to your Youtube channel.')
		meta(name='google-site-verification', content="-uKHhzkVgtWlBWlDwTeHm6jSiq7BSu9gIz3liPpFBm4")
		meta(name='google', content='nositelinkssearchbox')
		meta(name="majestic-site-verification", content="MJ12_bd697943-0265-4d5f-9db4-60760044d91b")

		//- bower_components
		link(href="bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")    
		link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")

		//- Custom
		link(href="public/landing-page/css/style.min.css", rel="stylesheet", type="text/css")
		link(href="public/landing-page/css/responsive.min.css", rel="stylesheet", type="text/css")
		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//-if lt IE 9
			script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
			script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
	body
		header.nav-down
			a(href="/")
				img(src="../../public/landing-page/img/live-streaming-logo-small.png", draggable="false")
		.container
			.row
				.st-bck 
					h2(style="padding: 9% 17% 11%;") Privacy Policy 
				.col-md-8.col-md-offset-2.policy
					h2 IMPORTANT:
					h2(style="border-bottom: 1px solid rgba(255, 255, 255, 0.23);padding-bottom: 1%;margin-bottom: 1%; display: inline-block;") You are responsible for all content included in an InstaLively Stream which you initiate
					p You are responsible for ensuring all content included in an InstaLively Stream initiated by you complies with this Agreement, including content provided by other participants who may join you in the Stream. Please choose participants you wish to include to this stream carefully.
					p Under no circumstances is InstaLively to be held liable for any content that is created by you and also for the issues in streaming caused by network issues, camera quality, phone compatibility or all of the above. InstaLively also holds rights to block or delete your account if it believes that your account is being used for malicious or unlawful purposes.
					p InstaLively is offering you a feature that allows you to live stream content through Google+ and YouTube. The Live Content will also be recorded and automatically uploaded to your YouTube account at the end of the stream for subsequent viewing (the "Archived Content"). The Archived Content will also immediately replace the live stream so than anyone you have shares the Live Content with will also be able to view the Archived Content.
					p	By using InstaLively you accept and agree to be bound by the 
						a(href="http://www.youtube.com/t/terms?hl=en", target="_blank") YouTube terms of service
						| , as well as these additional terms and conditions (the “Agreement”). It is important for you to read these documents, as they form a legal agreement between you and InstaLively & Google regarding your use of the Service.
					br
					br
					h2	Live Content
					p	By using the Service you grant Google a right and license to host, cache, route, transmit, store, copy, modify (to the limited extent technically necessary to perform and operate the Service), stream, publicly perform, communicate to the public, display, reformat, excerpt, analyze, create algorithms based on, and otherwise exploit, use and make available the Live Content (which includes content provided by you or by any other participant in the stream, including the sound recordings and compositions embodied therein, if any) worldwide. You agree that this license includes a right for Google to make such Live Content available to other companies, organisations or individuals with whom Google has relationships for the provision of syndicated services, and to use such Live Content in connection with the provision of those services. You confirm and warrant to Google that you have all the rights, power and authority necessary to grant this license.
					p You are responsible for procuring: (i) all necessary rights, licenses, consents and clearances, including without limitation any payments to recording artists, music publishers, writers, actors, producers, record labels and all other royalty participants arising from Google’s use and exploitation of the Live Content, and (ii) public performance, synchronization, communication to the public, and making available licences whether controlled by a local collecting society or otherwise, worldwide. You agree to comply with all applicable laws, rules and regulations regarding live streaming of the Live Content (including content provided by you or by any other participant in the stream) worldwide.
					br
					br
					h2 Archived Content
					p The automatic upload of Archived Content to your YouTube account is subject to the 
						a(href="http://www.youtube.com/t/terms?hl=en", target="_blank") YouTube terms of service 
						| and you agree that the Archived Content (which includes content provided by you or by any other participant in the stream) will constitute “Content” that has been submitted by you to the YouTube service for the purposes of those terms of service. To the extent that you have an existing Content License Agreement, Content Hosting Services Agreement or Sound Recording and Audiovisual Agreement with Google in relation to YouTube (“YouTube Agreements”), you agree that the Archived Content will constitute “Provider Content” in accordance with the YouTube Agreements and is subject to the terms of those agreements.
					p The Archived Content must adhere to the 
						a(href="http://www.youtube.com/t/community_guidelines?hl=en", target="_blank") YouTube Community Guidelines.
		//- Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-59474062-1', 'auto');
			ga('send', 'pageview');
